services:
  api:
    build:
      context: my-rest-server
    container_name: api
    hostname: api
    depends_on:
      db:
        condition: service_healthy
        restart: true
    networks:
      - app_network
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD:?database password not set}
      - DB_NAME=${MYSQL_DATABASE:-mydb}
      
    # deploy:
    #   restart_policy:
    #     condition: on-failure

  db:
    image: mysql:latest
    container_name: db
    hostname: db
    networks:
      - app_network
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE:-mydb}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:?database password not set}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      retries: 3

volumes:
  db_data:

networks:
  app_network:
    driver: bridge