<nav class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <span>My angular app</span>
    </div>
  </div>
</nav>

<div class="page-wrapper">
  <div class="page-body">
    <div class="container-xl">
      @if (users.length === 0) {
        <p>Let me give the chance to bulk manage your mails</p>
      }

      @if (networkError != '') {
        <p>Failed to fetch users due to {{ networkError }}</p>
      } @else {
        <div class="row row-cards">
          @for (user of users; track $index) {
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body text-center">
                  <div class="mb-3">
                    <img class="avatar avatar-xl" [src]="user.CoverPhoto" />
                  </div>
                  <div class="card-title mb-1">{{ user.FullName }}</div>
                  <div class="text-secondary text-truncate">{{ user.Email }}</div>
                </div>
                <a [routerLink]="['/', user.UserId]" class="card-btn">View full profile</a>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
