<nav class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a routerLink="/">My angular app</a>
    </div>

    <div class="navbar-nav flex-row order-md-last">
      @if (user) {
        <div class="nav-link d-flex lh-1 p-0 px-2">
          <img class="avatar avatar-sm" [src]="user.CoverPhoto" />
          <div class="d-none d-xl-block ps-2">
            <div>{{ user.FullName }}</div>
            <div class="mt-1 small text-secondary">{{ user.Email }}</div>
          </div>
        </div>
      }
    </div>
  </div>
</nav>

<div class="page-wrapper">
  <div class="page-body">
    <div class="container-xl">
      @if (trashJobInfo?.IsPending) {
        <div>We are working hard to delete your mails, please wait for sometime</div>
      } @else {
        @if (scanJobInfo?.IsPending) {
          <h6>Loading...</h6>
          <p>Please wait for 30min, u can close this website, nd come back later</p>
        } @else if (scanJobInfo?.IsError) {
          <h6>Error</h6>
          <p>TODO:// make ui</p>
        } @else if (scanJobInfo?.IsSuccess) {
          <!-- <form action="/v1/job/trash" method="post"> -->
          <div class="card">
            <div class="card-header justify-content-between">
              <h3 class="card-title">Senders</h3>
              @if (this.senders.length > 0) {
                <button (click)="createTrashJob()" type="submit" class="btn btn-danger">
                  Trash {{ this.senders.length }}
                </button>
              }
            </div>
            <div class="list-group list-group-flush">
              @for (result of scanJobInfo?.Results; track $index) {
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <input
                        id="toggle-trigger"
                        (change)="bindSender(result.SenderEmail)"
                        name="sender[]"
                        type="checkbox"
                        class="form-check-input"
                      />
                    </div>
                    <div class="col-auto">
                      <a href="#">
                        <span class="avatar avatar-1">{{ result.SenderEmail.slice(0, 2) }} </span>
                      </a>
                    </div>
                    <div class="col text-truncate">
                      <a href="#" class="text-reset d-block">{{ result.SenderEmail }}</a>
                      <div class="d-block text-secondary text-truncate mt-n1">
                        Contains {{ result.Count }} mails
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
          <!-- </form> -->
        } @else {
          <div>
            <p>Request a new scan of your mailbox</p>
            <button (click)="createScanJob()" class="btn btn-primary">Create scan job</button>
          </div>
        }
      }
    </div>
  </div>
</div>
